/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {

                        bindings = <
   &kp ESC   &kp Q &kp W &kp E     &kp R &kp T                     &kp Y     &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp TAB   &kp A &kp S &kp D     &kp F &kp G                     &kp H     &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &kp C     &kp V &kp B                     &kp N     &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                         &kp LCTRL &mo 1 &kp SPACE                 &kp ENTER &mo 2  &kp RALT
                        >;
                };
                lower_layer { 

                        bindings = <
   &kp GRAVE    &kp N1     &kp N2       &kp N3       &kp N4       &kp N5                       &kp N6    &kp N7        &kp N8       &kp N9     &kp N0   &kp BSPC
   &kp TILDE    &kp EXCL   &kp AT       &kp HASH     &kp DOLLAR   &kp PERCENT                  &kp CARET &kp AMPS      &kp ASTERISK &kp LPAR   &kp RPAR &kp BSLH
   &kp PIPE     &kp UNDER  &kp MINUS    &kp EQUAL    &kp PLUS     &kp LGUI                     &kp PSCRN &kp LBKT      &kp RBKT     &kp LBRC   &kp RBRC &kp RSHFT
                                        &kp LCTRL    &trans       &kp SPACE                    &kp ENTER &kp LA(RIGHT) &kp END
                        >;
                };

                raise_layer {

                        bindings = <
   &kp ESC   &kp F1         &kp F2       &kp F3          &kp F4            &kp F5                     &kp LC(LS(F3))     &kp LC(MINUS)    &kp UP    &kp LC(LS(MINUS))  &kp LC(F3)           &kp DEL
   &kp TAB   &kp F6         &kp F7       &kp F8          &kp F9            &kp F10                    &kp LC(LS(LEFT))   &kp LEFT         &kp DOWN  &kp RIGHT          &kp LC(LS(RIGHT))    &kp PAGE_UP
   &kp LSHFT &bt BT_CLR     &bt BT_SEL 1 &bt BT_SEL 2    &kp F11           &kp F12                    &kp LC(W)          &kp LC(P)        &kp LC(K) &kp LC(N)          &kp LA(F4)           &kp PAGE_DOWN
                    	                   &kp HOME        &kp LA(LEFT)      &kp SPACE                  &kp ENTER          &trans           &kp RALT
                        >;
                };
        };
};

# # parsed and then tweaked from https://github.com/LOWPROKB/zmk-config-zen-2/blob/main/config/corneish_zen.keymap
# layout:
#   qmk_keyboard: corne_rotated
#   qmk_layout: LAYOUT_split_3x6_3
# layers:
#   O:
#     - ["Esc", "Q", "W", "E", "R", "T", "Y", "U", "I", "O", "P", "←"]
#     - ["Tab", "A", "S", "D", "F", "G", "H", "J", "K", "L", ": ;", "\" '"]
#     - ["Shift", "Z", "X", "C", "V", "B", "N", "M", "< ,", "> .", "? /", "Shift"]
#     - ["Ctrl", "◀", "Space", "↵", "▶", "Alt"]
#   ◀:
#     - ["`", "1", "2", "3", "4", "5", "6", "7", "8", "9", "0", "←"]
#     - ["~", "!", "@", "#", "$", "%", "^", "&", "*", "(", ")", "\\"]
#     - ["|", "_", "-", "=", "+", "⊞", "Prt Scr", "[", "]", "{", "}", "Shift"]
#     - ["Home", {type: held}, "Space", "↵", "Alt ⇨", "Alt"]
#   ▶:
#     - ["Esc", "F1", "F2", "F3", "F4", "F5", "Ctrl Shift F3", "Ctrl -", "⇧", "Ctrl Shift -", "Ctrl F3", "del"]
#     - ["Tab", "F6", "F7", "F8", "F9", "F10", "Ctrl Shift ⇦", "⇦", "⇩", "⇨", "Ctrl 
# Shift ⇨", "Pg Up"]
#     - ["Shift", "BTclr", "BT1", "BT2", "F11", "F12", "Ctrl W", "Ctrl+P", "Ctrl+K", "Ctrl+N", "Alt F4", "Pg Dn"]
#     - ["Ctrl", "Alt ⇦", "Space", "↵", {type: held}, "End"]







# // https://keymap-drawer.streamlit.app/






# draw_config:
#   key_w: 60.0
#   key_h: 56.0
#   split_gap: 30.0
#   combo_w: 28.0
#   combo_h: 26.0
#   key_rx: 6.0
#   key_ry: 6.0
#   n_columns: 1
#   separate_combo_diagrams: false
#   combo_diagrams_scale: 2
#   inner_pad_w: 2.0
#   inner_pad_h: 2.0
#   outer_pad_w: 30.0
#   outer_pad_h: 56.0
#   line_spacing: 1.2
#   arc_radius: 6.0
#   append_colon_to_layer_header: true
#   small_pad: 2.0
#   legend_rel_x: 0.0
#   legend_rel_y: 0.0
#   draw_key_sides: false
#   key_side_pars:
#     rel_x: 0
#     rel_y: 4
#     rel_w: 12
#     rel_h: 12
#     rx: 4
#     ry: 4
#   svg_style: |
#     /* inherit to force styles through use tags */
#     svg path {
#         fill: inherit;
#     }

#     /* font and background color specifications */
#     svg.keymap {
#         font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
#         font-size: 14px;
#         font-kerning: normal;
#         text-rendering: optimizeLegibility;
#         fill: #FFFFFF;
#     }

#     /* default key styling */
#     rect.key {
#         fill: #000000;
#         stroke: #FFFFFF;
#         stroke-width: 1;
#     }

#     /* default key side styling, only used is draw_key_sides is set */
#     rect.side {
#         filter: brightness(90%);
#     }

#     /* color accent for combo boxes */
#     rect.combo, rect.combo-separate {
#         fill: #cdf;
#     }

#     /* color accent for held keys */
#     rect.held, rect.combo.held {
#         fill: #777777;
#     }

#     /* color accent for ghost (optional) keys */
#     rect.ghost, rect.combo.ghost {
#         stroke-dasharray: 4, 4;
#         stroke-width: 2;
#     }

#     text {
#         text-anchor: middle;
#         dominant-baseline: middle;
#     }

#     /* styling for layer labels */
#     text.label {
#         font-weight: bold;
#         text-anchor: start;
#         stroke: white;
#         stroke-width: 2;
#         paint-order: stroke;
#     }

#     /* styling for combo tap, and key hold/shifted label text */
#     text.combo, text.hold, text.shifted {
#         font-size: 11px;
#     }

#     text.hold {
#         text-anchor: middle;
#         dominant-baseline: auto;
#     }

#     text.shifted {
#         text-anchor: middle;
#         dominant-baseline: hanging;
#     }

#     /* styling for hold/shifted label text in combo box */
#     text.combo.hold, text.combo.shifted {
#         font-size: 8px;
#     }

#     /* lighter symbol for transparent keys */
#     text.trans {
#         fill: #7b7e81;
#     }

#     /* styling for combo dendrons */
#     path.combo {
#         stroke-width: 1;
#         stroke: gray;
#         fill: none;
#     }

#     /* Start Tabler Icons Cleanup */
#     /* cannot use height/width with glyphs */
#     .icon-tabler > path {
#         fill: inherit;
#         stroke: inherit;
#         stroke-width: 2;
#     }
#     /* hide tabler's default box */
#     .icon-tabler > path[stroke="none"][fill="none"] {
#         visibility: hidden;
#     }
#     /* End Tabler Icons Cleanup */
#   svg_extra_style: ''
#   shrink_wide_legends: 7
#   glyph_tap_size: 14
#   glyph_hold_size: 12
#   glyph_shifted_size: 10
#   glyphs: {}
#   glyph_urls:
#     tabler: https://unpkg.com/@tabler/icons/icons/{}.svg
#     mdi: https://raw.githubusercontent.com/Templarian/MaterialDesign-SVG/master/svg/{}.svg
#     mdil: https://raw.githubusercontent.com/Pictogrammers/MaterialDesignLight/master/svg/{}.svg
#     material: https://fonts.gstatic.com/s/i/short-term/release/materialsymbolsoutlined/{}/default/48px.svg
#   use_local_cache: true
# parse_config:
#   preprocess: true
#   skip_binding_parsing: false
#   raw_binding_map: {}
#   sticky_label: sticky
#   toggle_label: toggle
#   trans_legend:
#     t: ▽
#     type: trans
#   mark_alternate_layer_activators: false
#   qmk_remove_keycode_prefix:
#   - KC_
#   qmk_keycode_map:
#     XXXXXXX: ''
#     'NO': ''
#     MINUS: '-'
#     MINS: '-'
#     EQUAL: '='
#     EQL: '='
#     LEFT_BRACKET: '['
#     LBRC: '['
#     RIGHT_BRACKET: ']'
#     RBRC: ']'
#     BACKSLASH: \
#     BSLS: \
#     NONUS_HASH: '#'
#     NUHS: '#'
#     SEMICOLON: ;
#     SCLN: ;
#     QUOTE: ''''
#     QUOT: ''''
#     GRAVE: '`'
#     GRV: '`'
#     COMMA: ','
#     COMM: ','
#     DOT: .
#     SLASH: /
#     SLSH: /
#     TILDE: '~'
#     TILD: '~'
#     EXCLAIM: '!'
#     EXLM: '!'
#     AT: '@'
#     HASH: '#'
#     DOLLAR: $
#     DLR: $
#     PERCENT: '%'
#     PERC: '%'
#     CIRCUMFLEX: ^
#     CIRC: ^
#     AMPERSAND: '&'
#     AMPR: '&'
#     ASTERISK: '*'
#     ASTR: '*'
#     LEFT_PAREN: (
#     LPRN: (
#     RIGHT_PAREN: )
#     RPRN: )
#     UNDERSCORE: _
#     UNDS: _
#     PLUS: +
#     LEFT_CURLY_BRACE: '{'
#     LCBR: '{'
#     RIGHT_CURLY_BRACE: '}'
#     RCBR: '}'
#     PIPE: '|'
#     COLON: ':'
#     COLN: ':'
#     DOUBLE_QUOTE: '"'
#     DQUO: '"'
#     DQT: '"'
#     LEFT_ANGLE_BRACKET: <
#     LABK: <
#     LT: <
#     RIGHT_ANGLE_BRACKET: '>'
#     RABK: '>'
#     GT: '>'
#     QUESTION: '?'
#     QUES: '?'
#   zmk_remove_keycode_prefix: []
#   zmk_keycode_map:
#     EXCLAMATION: '!'
#     EXCL: '!'
#     AT_SIGN: '@'
#     AT: '@'
#     HASH: '#'
#     POUND: '#'
#     DOLLAR: $
#     DLLR: $
#     PERCENT: '%'
#     PRCNT: '%'
#     CARET: ^
#     AMPERSAND: '&'
#     AMPS: '&'
#     ASTERISK: '*'
#     ASTRK: '*'
#     STAR: '*'
#     LEFT_PARENTHESIS: (
#     LPAR: (
#     RIGHT_PARENTHESIS: )
#     RPAR: )
#     EQUAL: '='
#     PLUS: +
#     MINUS: '-'
#     UNDERSCORE: _
#     UNDER: _
#     SLASH: /
#     FSLH: /
#     QUESTION: '?'
#     QMARK: '?'
#     BACKSLASH: \
#     BSLH: \
#     PIPE: '|'
#     NON_US_BACKSLASH: \
#     PIPE2: '|'
#     NON_US_BSLH: '|'
#     SEMICOLON: ;
#     SEMI: ;
#     COLON: ':'
#     SINGLE_QUOTE: ''''
#     SQT: ''''
#     APOSTROPHE: ''''
#     APOS: ''''
#     DOUBLE_QUOTES: '"'
#     DQT: '"'
#     COMMA: ','
#     LESS_THAN: <
#     LT: <
#     PERIOD: .
#     DOT: .
#     GREATER_THAN: '>'
#     GT: '>'
#     LEFT_BRACKET: '['
#     LBKT: '['
#     LEFT_BRACE: '{'
#     LBRC: '{'
#     RIGHT_BRACKET: ']'
#     RBKT: ']'
#     RIGHT_BRACE: '}'
#     RBRC: '}'
#     GRAVE: '`'
#     TILDE: '~'
#     NON_US_HASH: '#'
#     NUHS: '#'
#     TILDE2: '~'
#   zmk_combos: {}
